.shop-products {
  margin: 63px 102px 40px 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.shop-items {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.shop-products-btn {
  margin-bottom: 85px;

  display: flex;
  flex-direction: row;
  gap: 38px;
  justify-content: space-between;
}
.btn-pagination {
  font-size: 20px;
  border-radius: 10px;
  background: #f9f1e7;
  padding: 15px 24px;
}
.btn-pagination.active {
  background: #b88e2f;
}
