.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 372px;
  height: 486px;

  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  border-radius: 50%;
  background-color: #fff;
  width: 48px;
  height: 48px;
  margin-right: 70px;
}

:root {
  --swiper-theme-color: #b88e2f;
  --swiper-navigation-size: 24px;
}

.swiper-slide {
  justify-content: start;
}

.swiper-slide-active img {
  width: 404px;
  height: 582px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: var(--swiper-pagination-bottom, 40px);

  left: 40px;
}

.swiper-pagination-bullet-active {
  border: solid 1px #b88e2f;
  border-radius: 50%;
}
